@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    padding-top: 10%;
    padding-left: 30%;
    padding-right: 30%;
}
.content{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-height: 100vh;
}

h1, p{
    margin-bottom: 20px;
}

a{
    display: flex;
    background-color: limegreen;
    height: 60px;
    text-decoration: none;
    color: linen;
    border-radius: 16px;
    font-size: 180%;  
    margin-bottom: 30px;
}

.riot{
    background-color: lightseagreen;
}

span{
    margin: auto;
}
